<div class="container">
  <div class="unoji_group">
    <% count = 0 %>
    <div id='popup'>Copied!</div>
    <% @emojis.each do |emoji| %>
      <span class="unoji col-md-2 col-sm-4 col-xs-4" data-clipboard-target=".face_<%= count %>">
        <span class='face_<%= count %>'><%= emoji.face %></span>
      </span>
      <% count += 1 %>
    <% end %>
  </div>
</div>
