// Place all the styles related to the emojis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cloud-gray: #ecf0f1;
$lime: #BADA55;
$sunflower-yellow: #f1f105;

.container {
  .unoji_group {
    margin: 60px auto;
    width: 75%;
    // border: 1px solid red;
    padding-left: 60px;

    #popup {
      display: none;
      z-index: 1000;
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(241,241,5, 0.7);
      padding: 60px;
      font-size: 40px;
      text-align: center;
      color: white;
    }
    .unoji {
      z-index: 100;
      cursor: pointer;
      padding: 40px 0px;
      margin: 5px;
      text-align: center;
      border-radius: 5px;
      background-color: $cloud-gray;
      font-size: 16px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: $sunflower-yellow;
        color: white;
      }
      &::selection {
        background: transparent; /* WebKit/Blink Browsers */
      }
      &::-moz-selection {
        background: transparent; /* Gecko Browsers */
      }
    }
  }
}
